#control{
    text-align: center;
} 

#slider{
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.viewer{
    width: 300px;
    height: 500px;
    margin: 10;
    margin-bottom: 50px;
    background-color: #F0F8FF;
    position: relative;
}

.info{
    position: relative;
    margin-top: 520px;
}

.viewer_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
    
#loader_container{
    position: fixed;
    display: none;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#pause{
    display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#color_code{
    width:600px;
}